<p><%= @resource.email %>!</p>

<p>Кто-то запросил изменение пароля.</p>

<p><%= link_to 'Изменить парольы', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Если вы не хотите изменять пароль, не реагируйте на это письмо.</p>
